mlruns/*
eda_plots/*
.venv/
notebook/.env
notebook/eda_outputs/*
notebook/plots/*
notebook/metadata/*
notebook/train_test_data.pkl
mlflow/*
outputs/*
*DS_Store*
*__pycache__*
notebook/mlruns/*
notebook/temp_data_ingestion_artifacts/*
